/* Basic reset */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #c4c9c1f7;
  }


.dive{
    margin: 120px;
    padding: 5px;
    width: 29%;
    background-color: white;
    border-radius: 12px;
}

.dive .letras{
    margin: 20px;
    padding: 8px;
    width: 95%;
    background-color: white;
}


.panel{
    text-align: center;
    font-weight: bold;
    margin-right: 9px;
    font-size: 20px;
    margin-top: -1%;
    color: green;
}

.panel-2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: -17px;
    color: green;
}



  
  input.form-control,
  select.form-control,
  textarea.form-control {
    margin-top: 55%;
    color: #777;
    font-size: 12px;
    font-weight: normal;
  }
 
  .form-control {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 40px;
   margin: 15px;
   
  }

.btn-2{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  text-align: left;
  margin: 2%;
  background-color: green;

}

.btn-2:hover{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 55, 0, 0.705);
  margin: 2%;
}


.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  margin-left: 60%;

}

.btn:hover{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgba(255, 55, 0, 0.705);
}

.alerta{
 border-radius: 5px;
  margin-top: 5%;
  padding: 3%;
  background-color: red;
}




.alerta{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}



  
  
  
  
  