* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    margin: 0;
    background-color: #fff;
  }
  .container {
    top: 0px;
    left: 0;
    width: 100%;
  }
  
  .sesion {
    height: 62px;
    width: 100%;
    position: fixed;
    background: #043404e4;
  }
  
  .sesion h2 {
    color: #fff;
    margin-top: 10px;
    margin-left: 40px;
    float: left;
  }
  
  .cerrar_ses {
    color: #fff;
    float: right;
    display: flex;
    margin-top: 17.5px;
    align-items: center;
    text-decoration: none;
    margin-right: 25px;
    text-transform: uppercase;
  }
  
  .info {
    float: left;
    width: 1536px;
    height: 1500px;
    position: fixed;
    margin-top: 62px;
  }
  
  .menu {
    height: 100%;
    width: 145px;
    float: left;
    position: fixed;
    background: #106d2794;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .menu p {
    margin-top: 100px;
  }
  
  .fa-light {
    width: 200px;
    height: 200px;
  }
  
  .opcion_menu {
    height: 50px;
    width: 50px;
    color: #12170cdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 3rem;
    transition: 300ms background-color ease-in-out, 300ms color ease,
      300ms border-radius ease;
  }
  
  .opcion_menu:hover {
    background-color: #0d5634ac;
    color: white;
    border-radius: 8px;
  }
  
  .__icono {
    margin-top: -25px;
    font-size: 2rem;
  }
  
  .menu_texto {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .ticket {
    background-color: #fff;
    align-items: center;
    height: 100%;
    float: left;
    position: fixed;
    margin-left: 145px;
    width: 90.5%;
    padding: 5rem 5rem 7rem 4rem;
  }
  
  .ticket h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 2 0px;
  }
  
  .btn-group {
    margin-top: 30px;
    margin-left: 35.5%;
  }
  
  .trs {
    border: solid black;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 10px;
    height: 52px;
  }
  
  .tabla {
    margin-top: 30px;
    padding: 1.5rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.244);
  }
  
  .row {
    table-layout: fixed;
  }
  
  .row tbody {
    display: block;
    overflow: auto;
    height: 270px;
  }
  .row thead tr {
    display: block;
  }
  
  .row th {
    width: 260px;
  }
  .row td {
    width: 420px;
  }
  
  .tftable {
    font-size: 12px;
    width: 100%;
    border: none;
  }
  
  .tftable th {
    font-size: 14px;
    width: 140px;
    background-color: #043404e4;
    padding: 7px;
    color: white;
    text-align: left;
  }
  
  .tftable tr {
    background-color: #ffffff;
    text-align: left;
  }
  
  .tftable td {
    font-size: 13px;
    padding: 7px;
  }
  
  .tftable tr:hover {
    background-color: #ffff99;
  }
  
  .row select {
    width: 100px;
  }
  